@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Montserrat:wght@200&family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222A35;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.floating-btn {
    font-family: 'Poppins', sans-serif;
    width: 80px;
    height: 80px;
    background: #009879;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: background 0.25s;
}

body::-webkit-scrollbar {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa00;
    color: #ffffff;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 75px;
    width: 300px;
    float: left;
    margin-left: 40px;
}

.navMargin {
    margin-right: 40px;
}

.navLinks ul {
    display: flex;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 16.4px;
    letter-spacing: 1px;
}

.navLinks li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    display: block;
}

.navLinks a:hover {
    color: #6fb72f;
}

header .current a {
    color: #6fb72f;
}

/* Contact Information */
.contact {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/backgroundContact.jpg);
    background-size: cover;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff

}

.contact .content p {
    font-weight: 300;
    color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #6fb72f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #ffffff;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffffffcf;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #6fb72f;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    background: #6fb72f;
    color: #333333;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.contactForm .inputBox:hover input[type="submit"] {
    background: #6fb72fac;
}

/* Go To Top Button */
.gotopbtn {
    scroll-behavior: smooth;
    position: fixed;
    width: 50px;
    height: 50px;
    background: #6fb72f;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #333333;
}

/* Footer */
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

footer ul li {
    padding: 15px;
}

footer ul li a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    font-size: 20px;
    background: #6fb72f;
    color: #ffffff;
    text-align: center;
    transition: 0.3;
    position: relative;
}

footer ul li a:before,
footer ul li a:after {
    width: 100%;
    height: 3px;
    background: #ffffff;
    content: "";
    position: absolute;
    transition: tarnsform 0.3s;
}

footer ul li a:before {
    top: 0;
    left: 0;
    transform-origin: right;
}

footer ul li a:hover:before {
    transform: scaleX(0);
    transform-origin: right;
}

footer ul li a:after {
    top: 0;
    left: 0;
    transform-origin: left;
}

footer ul li a:hover:after {
    transform: scaleX(0);
    transform-origin: right;
}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}